# Puerto local en el que se abrirá la aplicación web
PORT=3000

# Ruta en este dispositivo donde se guardará físicamente tu archivo tarjetas.db
# Ejemplos:
# Linux / macOS:
# DATA_PATH=./data
# DATA_PATH=/home/usuario/MisFinanzas
#
# Windows:
# DATA_PATH=./data
# DATA_PATH=C:/MisFinanzas
DATA_PATH=./data

